$areasWidth: 52px;

.access-item-areas {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: $areasWidth;
  gap: 6px;
  line-height: 16px;
  min-height: 36px;
  padding-top: 2px;

  .access-area {
    .anticon {
      font-size: 21px;

      &.leaf-icon {
        //color: #61a938;
      }

      &.parking-filled-icon {
        //color: rgb(85, 120, 188);
      }
    }

    .places {
      text-align: center;

      .place {
        font-size: 15px;
        line-height: 18px;
        color: rgba(90, 90, 90, 0.8);
      }

    }
  }

}

