.view.my-profile {
  display: flex;
  flex-flow: column;

  .profile-content {
    flex: 1 0 auto;

    .user-info {
      .ant-avatar {
        width: 64px;
        height: 64px;
        font-size: 22px;
      }

      .user-name {
        h4 {
          margin-top: 8px;
        }
      }
    }

    .user-property {
      text-align: start;
    }
  }


  .logout-container {
    padding-bottom: 1em;
  }

}
