$copyrightHeight: 40px;

.view.my-profile {

  .profile-content {
    padding: 4px;
    height: calc(100% - $copyrightHeight);
    max-height: calc(100% - $copyrightHeight);
    display: flex;
    flex-flow: column;

    .user-info {
      .ant-avatar {
        width: 64px;
        height: 64px;
        font-size: 22px;
      }

      .user-name {
        h4 {
          margin-top: 8px;
        }
      }
    }

    .user-property {
      text-align: start;
      flex: 1 1 auto;
      //overflow-y: auto;
      min-height: 0;

      .property-list {
        max-height: calc(100% - 60px);
        overflow-y: auto;
      }
    }

    .logout-btn-container {
      padding: 1em 0;
      .ant-btn {
        font-size: 16px;
      }
    }

  }


    .copyright {
      //background: #69b1ff;
      font-size: 14px;
      height: $copyrightHeight;
      line-height: 14px;
      padding: 8px 0;
      color: gray;

      .ant-btn-link {
        padding: 0;
        line-height: 14px;
        font-size: 14px;
      }
    }

}
