body {
  height: 100vh;
}

#root {
  height: 100%;

  .ant-app {
    height: 100%;

    .ant-layout {
      height: 100%;

      .ant-layout-content {
        background: rgb(252, 252, 252);

        .view {
          padding: 1em;
          height: 100%;
          text-align: center;
          overflow-y: auto;

           > div {
             text-align: start;
           }

          > h5, > h4 {
            margin-top: 8px;
          }
        }
      }

      .ant-layout-footer {
        padding: 1em 2em;
      }
    }
  }
}

.app {
  //font-size: 16px;
  //text-align: center;

  > .ant-layout {
    height: 100vh;

    > .ant-layout-content {

      .view {
        height: 100%;
        padding: 1em;
      }
    }
  }


}
