.cars-search.view {
  text-align: start;
  max-width: 600px;

  h4 {
    margin-top: 0;
  }

  .search-form {
    //max-width: 600px;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
  }

  .search-result {
    //max-width: 600px;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    font-size: 16px;
    line-height: 18px;

    span.not-found {
      color: gray;
    }

    .owner-info {
      .car-info {
        margin-bottom: 1em;

        h4 {
          display: inline-block;
          margin: 0;
          margin-right: 0.5em;
        }

        .car-description {
          color: #656565;
        }
      }


      .owner {
        .anticon.user-icon {
          font-size: 18px;
          margin-right: 0.5em;
        }

        .owner-name {
          margin-left: 4px;
        }

        .owner-flat {
          font-weight: 500;
          margin-top: 4px;
          //margin-left: 4px;
        }
      }

      .phone-info {
        margin-top: 1.5em;

        .anticon.anticon-phone {
          font-size: 20px;
          margin-right: 0.5em;
          color: blue;
        }


        .phone-number {
          font-weight: 500;
        }

        .phone-label {
          margin-left: 6px;
          color: #656565;
        }
      }
    }
  }
}
